<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
    <string>Influyo!</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>frontend_mobile_app_flutter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	
	<!-- ===== SOLO CUSTOM SCHEME (SIN DOMINIO) ===== -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>influyo.custom</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>influyo</string>
			</array>
		</dict>
	</array>
	
	<!-- ===== QUERIES PARA DETECTAR APPS ===== -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>whatsapp-business</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>tiktok</string>
		<string>snssdk1233</string>
		<string>tiktokopensdk</string>
		<string>fb</string>
		<string>fbauth2</string>
		<string>fb-messenger</string>
		<string>twitter</string>
		<string>tweetbot</string>
		<string>tg</string>
		<string>telegram</string>
		<string>mailto</string>
		<string>sms</string>
	</array>
	
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Influyo! necesita acceso a tu galería para compartir contenido en redes sociales.</string>
	
	<key>NSCameraUsageDescription</key>
	<string>Influyo! necesita acceso a la cámara para tomar fotos y compartir contenido.</string>
	
</dict>
</plist>